body {
  min-height: calc(100vh - 100px);
  margin: 0;
  background: url(https://audreyhossepian.fr/img/logo.png),
    linear-gradient(40deg, #fc466b, #3f5efb);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  color: white;
}

* {
  outline: none;
}
section {
  display: flex;
}

input {
  padding: 16px;
  margin: 0;
}
input[type="text"] {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type="button"] {
  margin-left: -5px;
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 14px 15px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#meals {
  margin-left: 50px;
  width: 60%;
}
#meals h3 {
  margin-top: 0;
}

#meals ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#meals ul li {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid white;
  width: calc(45% - 30px);
}
